        <script src="/assets/js/jquery-3.2.1.slim.min.js"></script>
        <script src="/assets/js/umd/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/jquery.dataTables.min.js"></script>
        <script src="/assets/js/dataTables.bootstrap4.min.js"></script>
        <script src="/assets/js/moment.min.js"></script>
        <script src="/assets/js/app.js"></script>
        <script src="/assets/js/book.js"></script>
    </body>
</html>