                <nav class="col-sm-1 sidebar">
                <!--<nav class="col-sm-3 col-md-2 d-none d-sm-block sidebar">-->
                    <ul class="nav nav-pills flex-column">
                        <li{% if (attribute.pageTitle == "Dashboard") %} class="nav-item active"{% else %} class="nav-item"{% endif %}>
                            <a{% if (attribute.pageTitle == "Dashboard") %} class="nav-link active"{% else %} class="nav-link"{% endif %} href="/">
                                <div><i id="icon-dashboard" class="fa fa-tachometer icon" aria-hidden="true"></i></div>
                                <div><span class="nav-link-text">Dashboard</span> <span class="sr-only">(current)</span></div>
                            </a>
                        </li>
                        <li{% if (attribute.pageTitle == "Book") %} class="nav-item active"{% else %} class="nav-item"{% endif %}>
                            <a{% if (attribute.pageTitle == "Book") %} class="nav-link active"{% else %} class="nav-link"{% endif %} href="/books">
                                <div><i id="icon-book" class="fa fa-book icon" aria-hidden="true"></i></div>
                                <div><span class="nav-link-text">Book</span></div>
                            </a>
                        </li>
                        <li{% if (attribute.pageTitle == "Transaction") %} class="nav-item active"{% else %} class="nav-item"{% endif %}>
                            <a{% if (attribute.pageTitle == "Transaction") %} class="nav-link active"{% else %} class="nav-link"{% endif %} href="/transactions">
                                <div><i id="icon-transaction" class="fa fa-handshake-o icon" aria-hidden="true"></i></div>
                                <div><span class="nav-link-text">Transaction</span></div>
                            </a>
                        </li>
                        <li{% if (attribute.pageTitle == "Report") %} class="nav-item active"{% else %} class="nav-item"{% endif %}>
                            <a{% if (attribute.pageTitle == "Report") %} class="nav-link active"{% else %} class="nav-link"{% endif %} href="/reports">
                                <div><i id="icon-report" class="fa fa-bar-chart icon" aria-hidden="true"></i></div>
                                <div><span class="nav-link-text">Report</span></div>
                            </a>
                        </li>
                    </ul>
                </nav>