$awesome-color-pureblue: #007bff;
$awesome-color-steelblue: #4682b4;
$awesome-color-yaleblue: #0f4d92;
$awesome-color-white: #ffffff;
$awesome-color-firebrick: #b22222;
$awesome-color-slategray: #708090;
$awesome-color-whitesmoke: #f5f5f5;

$navbar-awesome-bg-pureblue: $awesome-color-pureblue;
$navbar-awesome-bg-white: $awesome-color-white;
$navbar-awesome-anchor-color: $awesome-color-white;
$navbar-awesome-anchor-active-color: $awesome-color-pureblue;

$sidebar-bg-pureblue: $awesome-color-pureblue;
$sidebar-bg-white: $awesome-color-white;
$sidebar-anchor-color: $awesome-color-white;
$sidebar-anchor-active-color: $awesome-color-pureblue;
$sidebar-anchor-active-border-left-color: $awesome-color-firebrick;